html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:hover {
  text-decoration: none; }

a {
  color: inherit; }

a:active, a:focus {
  text-decoration: none;
  color: inherit; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

ol, ul, li {
  padding: 0px;
  list-style: none;
  margin: 0px; }

/* Let's get this party started */
html {
  overflow-x: hidden; }

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #eee; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Bold.svg#SFUFutura") format("svg");
  font-weight: bold; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Light.woff") format("woff"), url("../fonts/Roboto/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Light.svg#SFUFutura") format("svg");
  font-weight: 300; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Regular.svg#SFUFutura") format("svg");
  font-weight: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Medium.svg#SFUFutura") format("svg");
  font-weight: 500; }

html {
  font-size: 14px; }

a {
  text-decoration: none;
  color: #4188F1; }

input[type='date'], input[type='time'] {
  -webkit-appearance: none; }

body, html {
  font-family: 'Roboto', Arial;
  font-size: 14px;
  line-height: 1.4;
  color: #2A3556;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  background-color: #F5F6F7; }

* {
  font-family: 'Roboto', Arial;
  box-sizing: border-box; }

.tright {
  text-align: right !important; }

.check-action {
  display: inline-block;
  position: relative; }
  .check-action .check {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: 0;
    margin: 0px; }
  .check-action .name {
    position: relative;
    display: block;
    font-family: "ap"; }
    .check-action .name:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 16px;
      height: 16px;
      border-radius: 3px;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      color: #D6DADE;
      border: 1.5px solid #D6DADE;
      background-color: #fff; }
  .check-action .check:checked + .name:before {
    color: #fff;
    border-color: #4188F1;
    background-color: #4188F1;
    content: "\e94d"; }
  .check-action input[type="radio"] + .name:before {
    content: "";
    border-radius: 50%; }
  .check-action input[type="radio"]:checked + .name:before {
    background-color: #fff;
    font-size: 16px;
    color: #4188F1;
    content: "\e6c7"; }
  .check-action input[type="radio"]:checked:disabled + .name:before {
    color: #777B89; }

.tabs {
  list-style: none;
  padding: 0px;
  margin: 0px;
  border-bottom: 2px solid #4188F1;
  margin-bottom: 20px;
  display: flex; }
  .tabs .check-action {
    margin-right: 5px; }
  .tabs li {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 0px 10px; }
  .tabs a {
    padding: 10px 0px;
    text-decoration: none;
    color: #2A3556;
    display: block;
    flex: 1;
    min-width: 0px;
    text-align: center; }
  .tabs .active {
    color: #4188F1;
    background-color: rgba(65, 136, 241, 0.2); }
    .tabs .active a {
      color: #4188F1; }

.vb-item {
  padding: 10px;
  background: #FFFFFF;
  margin-bottom: 20px;
  box-shadow: 0px 4px 10px #CDCED8;
  display: flex;
  position: relative;
  transition: all 0.2s ease;
  transform: translateX(0); }
  .vb-item .text-content {
    flex: 1;
    min-width: 0px;
    margin-left: 10px; }
  .vb-item .vb-title {
    font-size: 14px;
    margin: 0px;
    margin-bottom: 10px;
    font-weight: bold; }
    .vb-item .vb-title a {
      color: #2A3556;
      text-decoration: none; }
  .vb-item .vb-info {
    display: flex;
    justify-content: space-between; }
  .vb-item .info-left {
    margin-right: 20px; }
  .vb-item .time-box .time {
    font-size: 24px;
    font-weight: bold;
    color: #4188F1;
    margin-bottom: 5px; }
  .vb-item .time-box .day {
    font-size: 13px;
    color: #777B89; }
  .vb-item .li-info {
    margin-top: 20px; }
    .vb-item .li-info .icon {
      color: #777B89; }
  .vb-item .actions {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    display: flex;
    left: 100%;
    margin-bottom: 0px; }
    .vb-item .actions .btn {
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding: 2px 5px;
      background-color: #4188F1;
      border: 0;
      min-width: 100px;
      color: #fff;
      text-align: center;
      cursor: pointer;
      margin-left: 2px;
      border-radius: 0px;
      text-decoration: none; }
      .vb-item .actions .btn .icon {
        display: block;
        width: 100%;
        margin-bottom: 5px;
        font-size: 24px; }
  .vb-item.active {
    transform: translateX(-200px);
    transition: all 0.2s ease; }

.info-row {
  display: flex;
  margin-bottom: 10px; }
  .info-row .key {
    width: 60px;
    color: #777B89;
    margin-right: 10px; }
  .info-row .value {
    flex: 1;
    min-width: 0px; }

.text-success {
  color: #49AD47 !important; }

.text-danger {
  color: #DD4338 !important; }

.text-primary {
  color: #4188F1 !important; }

.text-desc {
  color: #777B89 !important; }

.main-title {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 10px;
  padding: 0px 10px; }

.divider-gray {
  height: 1px;
  margin: 10px 0px;
  background-color: #D6DADE; }

.vb-detail .box-top-info {
  background-color: #fff;
  box-shadow: 0px 4px 10px #CDCED8;
  margin-bottom: 20px; }
  .vb-detail .box-top-info .key {
    width: 80px; }
  .vb-detail .box-top-info .top {
    padding: 10px; }

.vb-detail .box-form {
  padding: 0px 10px; }

.vb-detail .show {
  color: #4188F1;
  display: block;
  cursor: pointer;
  text-align: center; }

.bold {
  font-weight: bold !important; }

.fw5 {
  font-weight: 500 !important; }

.hidden {
  display: none !important; }

.form-group {
  margin-bottom: 15px; }

.file-box {
  padding: 10px;
  display: flex; }
  .file-box .text-content {
    flex: 1;
    min-width: 0px;
    margin-left: 10px; }
  .file-box .icon {
    font-size: 24px;
    color: #DD4338; }
  .file-box .filename {
    display: block;
    margin-bottom: 7px;
    font-weight: normal; }
  .file-box .text-m {
    color: #777B89; }

.box-doc-related {
  background-color: #fff;
  margin-bottom: 20px; }
  .box-doc-related .related-item {
    padding: 10px; }

.related-item {
  display: flex;
  padding: 10px 0px;
  justify-content: space-between; }
  .related-item .time {
    color: #777B89; }
  .related-item .info-right .date {
    font-weight: bold; }
  .related-item .info-right .text-m {
    font-weight: normal; }
  .related-item .info-left .date {
    color: #777B89; }
  .related-item .name {
    color: #2A3556; }

.box-comment-related {
  background-color: #fff; }
  .box-comment-related .head {
    background: #DAE6F6;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    color: #4188F1;
    border-bottom: 2px solid #4188F1;
    margin-bottom: 10px; }
  .box-comment-related .box {
    padding: 0px 10px; }
  .box-comment-related .title-m {
    margin-bottom: 10px; }
  .box-comment-related .box-forward .info-row .key {
    display: flex;
    width: 100px; }
  .box-comment-related .box-forward .info-row .icon {
    color: #2A3556;
    margin-right: 5px; }

.btn {
  padding: 10px 10px;
  font-weight: 500;
  background-color: transparent;
  border: 1px solid transparent;
  display: inline-block;
  border-radius: 8px;
  cursor: pointer; }
  .btn:hover {
    background-color: #f5f5f5; }
  .btn.btn-main {
    background-color: #0B3D86;
    color: #fff; }
    .btn.btn-main:hover {
      background-color: #4188F1; }

.form-control {
  border: 1px solid #D6DADE;
  padding: 10px 10px;
  width: 100%;
  outline: 0px;
  border-radius: 8px;
  background-color: #fff;
  text-align: left;
  font-size: 1rem;
  height: 38px;
  box-shadow: 0px 4px 8px rgba(235, 240, 250, 0.5); }
  .form-control:focus {
    border-color: #0B3D86; }

.actions {
  text-align: center;
  margin-bottom: 20px; }
  .actions .btn {
    margin: 2px; }

.list-checks {
  display: flex;
  flex-wrap: wrap; }
  .list-checks .item {
    margin-right: 10px;
    margin-bottom: 10px; }

.table {
  width: 100%; }
  .table td, .table th {
    padding: 7px 10px;
    vertical-align: middle;
    border-bottom: 1px solid #D6DADE; }
  .table .expand {
    width: 20px; }
  .table th {
    text-align: left;
    background-color: #F5F6F7;
    border-bottom: 2px solid #4188F1; }
  .table .expand-name {
    display: flex; }
    .table .expand-name .icon {
      width: 16px; }
    .table .expand-name .indent {
      width: 16px; }
    .table .expand-name .name {
      flex: 1;
      margin-left: 3px;
      min-width: 0px; }
  .table .child {
    display: none; }
    .table .child.active {
      display: table-row; }
