$main:#084EA7;
$text:#212944;
$textD: #777B89;
$border:#D6DADE;
$danger:#DD4338;
$success:#49AD47;
$primary:#084EA7;
$second: #0B3D86;

@font-face {
    font-family: 'Open Sans';
    src:url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/OpenSans-Bold.woff') format('woff'), 
        url('../fonts/OpenSans-Bold.ttf') format('truetype'), 
        url('../fonts/OpenSans-Bold.svg#SFUFutura') format('svg');
    font-weight: bold;
}


@font-face {
    font-family: 'Open Sans';
    src:url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/OpenSans-Light.woff') format('woff'), 
        url('../fonts/OpenSans-Light.ttf') format('truetype'), 
        url('../fonts/OpenSans-Light.svg#SFUFutura') format('svg');
    font-weight: 300;
}


@font-face {
    font-family: 'Open Sans';
    src:url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/OpenSans-Regular.woff') format('woff'), 
        url('../fonts/OpenSans-Regular.ttf') format('truetype'), 
        url('../fonts/OpenSans-Regular.svg#SFUFutura') format('svg');
    font-weight: normal;
}

@font-face {
    font-family: 'Open Sans';
    src:url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/OpenSans-Semibold.woff') format('woff'), 
        url('../fonts/OpenSans-Semibold.ttf') format('truetype'), 
        url('../fonts/OpenSans-Semibold.svg#SFUFutura') format('svg');
    font-weight: 500;
}


input[type='date'], input[type='time'] {
    -webkit-appearance: none;
}
body,html {
    font-family: 'Open Sans', Arial;
    font-size: 14px;
    line-height: 1.428;
    color: $text;
    height: 100%;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}
*{
    box-sizing: border-box;
    font-family: inherit;
}
p{
    margin-top: 0px;
    margin-bottom: 0.5rem;
}
a{
    color: $main;
    text-decoration: none;
}
.tright{
    text-align: right !important;
}
.check-action{
    display: inline-block;
    position: relative;
    .check{
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        height: 100%;
        width: 100%;
        z-index: 2;
        opacity: 0;
        margin: 0px;
    }
    .name{
        position: relative;
        display: block;
        font-family: "ap";
        
        &:before{
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 16px;
            height: 16px;
            border-radius: 3px;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            color: $border;
            border: 1.5px solid $border;
            background-color: #fff;

        }
        
    }
    .check:checked + .name{
        &:before{
            color: #fff;
            border-color: $main;
            background-color: $main;
            content: "\e94d";
        }
    }
    input[type="radio"] + .name{
        &:before{
            content: "";
            
            border-radius: 50%;
            
        }
    }
    input[type="radio"]:checked + .name{
        
        &:before{
            background-color: #fff;
            font-size: 16px;
            color: $main;
            content: "\e6c7";
        }
    }
    input[type="radio"]:checked:disabled + .name{
        &:before{
            color: $textD;
        }
    }
}

.text-success{
    color: $success !important;
}
.text-danger{
    color: $danger !important;
}
.text-primary{
    color: $primary !important;
}
.text-desc{
    color: $textD !important;
}
.text-uppercase{
    text-transform: uppercase !important;
}
.w20{
    width: 20px !important;
}
.main-title{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
}
.divider-gray{
    height: 1px;
    margin: 10px 0px;
    background-color: #D6DADE;
}
.pad10{
    padding: 10px !important;
}

.bold{
    font-weight: bold !important;
}
.fw5{
    font-weight: 500 !important;
}
.hidden{
    display: none !important;
}
.form-group{
    margin-bottom: 15px;
}
.rotate90{
    transform: rotate(90deg) !important;
}
.avatar{
    width: 32px;
    height: 32px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
}
.user{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .text-content{
        flex: 1;
        margin-left: 10px;
        min-width: 0px;
    }
    .avatar{
        width: 48px;
        height: 48px;
    }

}

.btn{
    padding: 10px 10px;
    font-weight: 500;
    background-color: transparent;
    border: 1px solid transparent;
    display: inline-block;
    border-radius: 20px;
    cursor: pointer;

    &:hover{
        background-color: #f5f5f5;
    }
    &.btn-main{
        background-color: $main;
        color: #fff;
        &:hover{
            background-color: $second;
            
        }

    }
    &.btn-second{
        border-color: $main;
        color: $main;
        &:hover{
            background-color: $second;
            
        }

    }
}
.fullw{
    width: 100% !important;
}
.marb5{
    margin-bottom: 5px !important;
}
.form-control{
    border: 1px solid $border;
    padding: 7px 10px;
    width: 100%;
    outline: 0px;
    border-radius: 8px;
    background-color: #fff;
    text-align: left;
    font-size: 1rem;
    height: 38px;
    box-shadow: 0px 4px 8px rgba(235, 240, 250, 0.5);
    transition: all 0.3s ease;
    &:focus{
        border-color: $second;
        transition: all 0.3s ease;
    }
}
.actions{
    text-align: center;
    margin-bottom: 20px;
    .btn{
        margin: 2px;
    }
}
.list-checks{
    display: flex;
    flex-wrap: wrap;
    .item{
        margin-right: 20px;
        margin-bottom: 10px;
        display: flex;
    }
    .label-text{
        margin-left: 7px;
    }
}
.table-content{
    overflow: auto;
    margin-bottom: 20px;
}
.table{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    
    td,th{
        padding: 7px 10px;
        vertical-align: middle;
        border: 1px solid $border ;
        
    }
    .expand{
        width: 20px;
    }
    th{
        text-align: left;
        background-color:$main ;
        color: #fff;
        
    }
    .expand-name{
        display: flex;
        .icon{
            width: 16px;
        }
        .indent{
            width: 16px;
        }
        .name{
            flex: 1;
            margin-left: 3px;
            min-width: 0px;
        }
    }
    .child {
        display: none;
        &.active{
            display: table-row;
        }
    }
    .btn{
        padding: 2px 5px;
        color: $text;
    }
}
.app-page{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    position: sticky;
    top: 0px;
    background-color: $main;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    .logo{
        max-width: 360px;
        margin-right: 10px;
        img{
            width: 100%;
        }
    }
    .nav-toggle{
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 24px;
        cursor: pointer;
    }
}
.input-icon-right{
    position: relative;
    .form-control{
        padding-right: 30px;

    }
    .icon{
        position: absolute;
        top: 0px;
        z-index: 3;
        right: 0px;
        width: 30px;
        bottom: 0px;
        text-align: center;
        display: flex;
        align-items: center;
        font-size: 16px;
        color: #8993A4CC;
        justify-content: center;
    }
}
.sidebar-menus{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #fff;
    width: 260px;
    z-index: 100;
    left: -100%;
    visibility: hidden;
    opacity: 0;
    z-index: 101;
    transition: all 0.3s ease;
    &.open{
        left: 0%;
        visibility: visible;
        opacity: 1;
        transition: all 0.3s ease;
    }
    .top{
        display: flex;
        align-items: center;
        background-color: $main;
        padding: 10px;
        color: #fff;
        .name{
            flex: 1;
            min-width: 0px;
            font-size: 15px;
            margin-left: 10px;
        }
        .avatar{
            width: 34px;
            height: 34px;
        }
    }
    .menus{
        a{
            display: flex;
            padding: 10px 10px;
            border-bottom: 1px solid $border;
            color: $text;
            .text-m{
                flex: 1;
                min-width: 0px;
                margin-left: 10px;

            }
            .icon{
                font-size: 24px;
            }
        }
        li{
            &.active{
                >a{
                    font-weight: bold;
                    color: $main;
                }
            }
        }
        
    }
}
.main-wrapper{
    flex: 1;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    @media(max-height:600px){
        display: block;
    }
    
}
.page-content {
    height: 100%;
    flex: 1;
    padding: 14px;
    overflow: auto;
    @media(max-height:600px) {
        height: auto;
    }
}
.footer {
    background-color: $main;
    color: #fff;
    padding: 10px 14px;
}

.center{
    text-align: center !important;
}
.red{
    color: $danger;
}



.form-group-input{
    position: relative;
    margin-bottom: 15px;
    .form-control:focus + .label-text{
        opacity: 0;
        transition: all 0.3s ease;
    }
    .label-text{
        position: absolute;
        top: 0px;
        padding: 7px 10px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background-color: #fff;
        border: 1px solid $border;
        border-radius: 8px;
        pointer-events: none;
        transition: all 0.3s ease;
    }
}
.marb10{
    margin-bottom: 10px !important;
}
.marb20{
    margin-bottom: 20px !important;
}
.overlay-common{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 100;
    display: none;
    background-color: rgba(#000,0.6);
    &.show{
        display: block;
    }
}
.select-custom {
    position: relative;

    select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        box-shadow: none;
        padding-right: 25px !important;
    }

    &:before {
        content: "\ecb1";
        font-family: "ap";
        position: absolute;
        width: 0px;
        top: 8px;
        right: 20px;
        pointer-events: none;
        height: 0px;

        color: #879ABF;
    }
}
.f16{
    font-size: 16px !important;
}
.group-buttons{
    margin-top: 20px;
    
}
.bottom-fixed{
    position: sticky;
    bottom: 0px;
    background-color: #fff;
}

.list-ks{
    .item{
        display: flex;
        padding: 10px 0px;
        align-items: center;
        border-bottom: 1px solid $border;
        &:last-child{
            border-bottom: 0px;
        }
        .text-content{
            flex: 1;
            min-width: 0px;
            margin-right: 10px;
        }
        .title{
            margin-bottom: 5px;
            font-size: 14px;
            margin-top: 0px;
        }
        .desc{
            font-size: 12px;
            font-style: italic;
            opacity: 0.7;
        }
        .actions{
            margin-bottom: 0px;
            .btn{
                font-size: 20px;
                color: $main;
            }
        }
    }
}

.input-search-form{
    display: flex;
    background-color: $main;
    margin-bottom: 20px;
    border-radius: 20px;
    
    .form-control{
        flex: 1;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        box-shadow: none;
        min-width: 0px;
        border: 0px;
        background-color: transparent;
        color: #fff;
        &::placeholder{
            color: rgba(#fff,0.6);
            
        }
    }
    .btn{
        width: 30px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 16px;
    }
}

.backtop{
    position: sticky;
    top: 0px;
    z-index: 10;
    text-align: center;
    display: none;
    &.show{
        display: block;
    }
    .btn{
        padding: 5px 20px;
    }
}
.breadcrumb{
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-bottom: 20px;
    >li{
        &:before{
            font-family: ap;
            content: "\ecb5";
            display: inline-block;
            margin: 0px 10px;
        }
        &:first-child{
            &:before{
                display: none;
            }
        }
        >a{
            display: inline-block;
            color: $text;
            &:hover{
                color: $main;
            }
        }
    }
}
.ks-detail-box{
    .head{
        border-bottom: 1px solid rgba($main,0.5);
        margin-bottom: 20px;
        padding-bottom: 10px;
    }
    .ks-date{
        font-size: 12px;
        font-style: italic;
        opacity: 0.8;
    }
    .ks-title{
        font-size: 16px;
        margin-top: 0px;
        margin-bottom: 7px;
    }
    
}
.article{
    p,div,li{
        margin-bottom: 10px;
    }
    img{
        width: 100%;
    }
}
.main{
    color: $main !important;
}
.normal{
    font-weight: normal !important;
}

.ques-box{
    display: flex;
    margin-bottom: 20px;
    .number{
        font-weight: bold;
    }
    .text-content{
        flex: 1;
        min-width: 0px;
        margin-left: 10px;
    }
    .title{
        margin-bottom: 10px;
    }
    .aws-list{
        .item{
            margin-bottom: 10px;
            display: flex;
            .check-name{
                margin-left: 5px;
                flex: 1;
                min-width: 0px;
            }
        }
    }
}

.ks-detail-step{
    margin: 20px 0px;
    display: flex;
    .icon{
        color: #0AB2FB;
        font-size: 20px;
    }
    .text-m{
        flex: 1;
        min-width: 0px;
        margin-left: 10px;
        font-weight: bold;
    }
}

.list-note-chart{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    .item{
        margin: 0px 10px;
        display: flex;
        .text-m{
            flex: 1;
            min-width: 0px;
            margin-left: 5px;
        }
        .shape{
            width: 16px;
            height: 16px;
        }
    }
}